<header>
    <h1>도서 요청 기록</h1>
    <span>
        <a href="/">홈</a>
        <a href="/mypage">마이페이지</a>
    </span>
    <div>
        <a href="/request">새로운 도서 신청</a>
    </div>
</header>
<section>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>작가</th>
                <th>출판사</th>
                <th>현황</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            {{ $length := len .BookReqHistory }} {{ if eq $length 0 }}
            <tr>
                <td>도서 신청 기록이 없습니다</td>
            </tr>
            {{ else }} {{ range .BookReqHistory }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Author }}</td>
                <td>{{ .Publisher }}</td>
                {{ if eq .Approved "PENDING" }}
                <td>접수 되었습니다</td>
                {{ else if eq .Approved "APPROVED" }}
                <td>승인 되었습니다</td>
                {{ else }}
                <td>반려 되었습니다</td>
                {{ end }}
                <td>
                    <button
                        onclick="deleteRequest('{{ .ID }}')"
                        style="padding: 5px 10px"
                    >
                        삭제
                    </button>
                </td>
            </tr>
            {{ end }} {{ end }}
        </tbody>
    </table>
</section>
<script>
    async function deleteRequest(id) {
        const resp = await fetch(`/api/request/${id}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "manual",
        });

        const status = resp.status;
        if (status === 200) {
            alert("도서요청이 삭제되었습니다");
            document.location.reload();
        } else {
            alert("도서요청 삭제에 실패했습니다\n관리자에게 문의해주세요");
        }
    }
</script>
