<section>
    <header>
        <h1 style="font-size: 2rem">마이페이지</h1>
        <ul style="list-style: none; padding-left: 0">
            <li>
                <a href="/">홈으로</a>
                <a href="/request/history">도서신청기록</a>
            </li>
            <li>
                <button
                    onclick="signOut()"
                    style="background-color: coral; border-color: coral"
                >
                    로그아웃
                </button>
                <button
                    onclick="withdraw()"
                    style="background-color: #eb4034; border-color: #eb4034"
                >
                    탈퇴
                </button>
            </li>
        </ul>
    </header>
</section>
<section>
    <header style="padding: 0">
        <h1>대출/반납 관리</h1>
        <table>
            <thead>
                <tr>
                    <th>이름</th>
                    <th>반납</th>
                </tr>
            </thead>
            <tbody>
                {{ $length := len .BorrowBooks }} {{ if eq $length 0 }}
                <tr>
                    <td>대출한 책이 없습니다</td>
                </tr>
                {{ else }} {{ range .BorrowBooks }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td>
                        <button onclick="returnBook('{{ .ID }}')">반납</button>
                    </td>
                </tr>
                {{ end }} {{ end }}
            </tbody>
        </table>
    </header>
</section>
<section>
    <header style="padding: 0">
        <h1>대출/반납 기록</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>날짜</th>
                <th>대출/반납</th>
            </tr>
        </thead>
        <tbody>
            {{ $length := len .BookLog }} {{ if eq $length 0 }}
            <tr>
                <td>대출한 책이 없습니다</td>
            </tr>
            {{ else }} {{ range .BookLog }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Action }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</section>
<style>
    button {
        padding: 5px 10px;
    }
</style>
<script>
    async function returnBook(bookId) {
        const resp = await fetch("/api/book/return", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "manual",
            body: JSON.stringify({ bookId: Number(bookId) }),
        });

        const status = resp.status;
        if (status === 201) {
            alert("도서 반납 완료되었습니다");
            document.location.href = "/mypage";
        } else {
            alert("도서 반납에 실패했습니다\n관리자에게 문의해주세요");
        }
    }

    async function signOut() {
        await fetch("/api/signout", {
            method: "POST",
            redirect: "manual",
        });
        document.location.reload();
    }

    async function withdraw() {
        const resp = await fetch("/api/user/withdraw", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "manual",
        });

        const status = resp.status;
        if (status === 200) {
            alert("회원탈퇴가 완료되었습니다");
            document.location.href = "/";
        } else {
            alert("회원탈퇴에 실패했습니다\n관리자에게 문의해주세요");
        }
    }
</script>
