<header>
    <h1>회원 상세 정보</h1>
    <span>
        <a href="/admin/user">회원 목록</a>
    </span>
</header>
<section>
    <aside>
        <h1>학번</h1>
        <p id="user-id">{{ .ID }}</p>
        <h1>이름</h1>
        <p>{{ .Name }}</p>
        <label for="status-selector" style="font-size: 1.17rem"> 상태 </label>
        {{ if eq .Status "WITHDRAW" }}
        <p>탈퇴 회원</p>
        {{ else }}
        <select id="status-selector">
            {{ if eq .Status "PENDING" }}
            <option selected>가입 승인 대기 중</option>
            {{ else }}
            <option value="PENDING">가입 승인 대기 중</option>
            {{ end }} {{ if eq .Status "APPROVED" }}
            <option selected>가입 승인 완료</option>
            {{ else }}
            <option value="APPROVED">가입 승인 완료</option>
            {{ end }} {{ if eq .Status "ADMIN" }}
            <option selected>관리자</option>
            {{ else }}
            <option value="ADMIN">관리자</option>
            {{ end }}
        </select>
        <div style="text-align: center">
            <button onclick="update()">정보 업데이트</button>
        </div>
        {{ end }}
    </aside>
</section>
<script>
    async function update() {
        const selector = document.getElementById("status-selector");
        const id = +document.getElementById("user-id").textContent;

        const data = {
            status: selector.options[selector.selectedIndex].value,
        };
        const resp = await fetch(`/api/admin/user/${id}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "manual",
            body: JSON.stringify(data),
        });

        const status = resp.status;
        if (status === 201) {
            document.location.reload();
        } else if (status === 403) {
            alert("관리자는 본인 계정의 상태를 변경할 수 없습니다");
        } else {
            alert("회원 정보 업데이트에 실패했습니다");
        }
    }
</script>
